.App{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: center;
    margin-top: 100px;
    /* border:2px solid blue; */
    /* gap:10px; */
    width:40%;
    padding: 10px;
    background-color: rgb(177, 110, 208);
    border-radius: 20px;
    box-shadow: 5px 10px 5px rgb(168, 103, 200);
    
}
.container{
    display: flex;
    flex-direction: column;
    /* width:50%; */
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    padding: 20px;
    /* border: 2px solid red; */


}
.input-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    width: 20%;
    padding:8px;
    margin: 4px;
    text-align: center;
}
.btn{
    margin-top: 10px;
    
}
button{
    margin: 4px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.error{
    color: red;
}
.success{
    color: green;
}